#slider h2{ background:#c9cfcb; text-transform:uppercase; color:#fff; font-size:22px; padding:10px; text-align:center; margin:0px; }
#slider .wpcf7-form label{ margin:0px 0 10px 0; }
#slider .wpcf7-form br {display:none; } 
#slider .wpcf7-text  { padding:10px; color:#7a7a7a; font-size:14px; }
#slider .wpcf7-form{ padding:15px; }
#slider .wpcf7-form textarea{ height:90px; padding:10px; color:#7a7a7a; font-size:14px;  } 
#slider{ 
	width:500px;
	top:340px;
	position:fixed;
	z-index:1000;
}
   
#header{ 
	width:260px;
	height:474px;
	position:absolute; 
	right:0px; 
 	margin-left:0;
	padding:0px;
 
	z-index:1000;
	background-color: #f4f4f4;

}


#sidebar{
	position:absolute;
	top:150px;
	left:108px;
 
}

#sidebar1{
	position:absolute;
	top:150px;
	left:108px;
	 
}

  
div#title{
	position:absolute;
	top:300px;
	left:650px;
	}
	
 
/*--------------------------------------
		Advertisement div
----------------------------------------*/
.formget{
	width:300px;
	margin-top: 65px;
	margin-left: 57px;
	float: left;
	}